h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: larger;
}

* {
    background-color: gray;
    color: aqua;
    font-family: cursive;
}

img {
    height: 550px;
    width: 550px;
}